<a href="https://colab.research.google.com/github/phubadine/python-project/blob/main/%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%9E%E0%B8%A2%E0%B9%8C_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python**

![python-logo-master-v3-TM-flattened.png]()

# **Basic**

## **if-else Shorthandf**

In [ ]:
a = 2
b = 4
print('A') if a > b else print('B')

B

In [ ]:
n = 2

if n == 0 or n == 1 or n == 2 or n == 3 or n == 4 or n == 5:  print('Yes!')
if n in [0, 1, 2, 3, 4, 5]:  print('Yes!')

Yes!
Yes!

## **for loop Shorthandf**

In [ ]:
num = [1, 2, 3, 4, 5]

num_new = [n for n in num]
print('Normal (n) :',num_new)

num_new = [n*n for n in num]
print('Normal (n*n) :',num_new)

Normal (n) : [1, 2, 3, 4, 5]
Normal (n*n) : [1, 4, 9, 16, 25]

## **EX1**

In [ ]:
v = input().split()
v_ = []
for i in v:
    i = int(i)
    v_.append(i)
print(v_)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
v = [int(i) for i in input('Input : ').split()]
print(v)

Input : 1 2 3 4 5
[1, 2, 3, 4, 5]

## **EX2**

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = []
for i in a:
    if i % 2 == 1:
        b.append(i)
print(b)

In [ ]:
a = [1, 2, 3, 4, 5]
b = [ i for i in a if i % 2 == 0]
print(b)

[2, 4]

รูปแบบ 

---


```
def function([parameters]):
    statement
    return [expression]
```

# **Function**

In [ ]:
def printme(str):
    print(str)
    return
printme('Hello Function!')

Hello Function!

## Pass by reference vs value

![333719432_5115407265250175_6744837120647159322_n.jpg]()

Pass by reference

In [ ]:
def changeme(mylist):
    mylist.append([1,2,3,4,5]);
    print('Value inside :',mylist)
    return
mylist = [10,20,30];
changeme(mylist)
print('Value outside :',mylist)

Value inside : [10, 20, 30, [1, 2, 3, 4, 5]]
Value outside : [10, 20, 30, [1, 2, 3, 4, 5]]

local variable

In [ ]:
def changeme(mylist):
    mylist = [1,2,3,4,5];
    print('Value inside :',mylist)
    return
mylist = [10,20,30];
changeme(mylist)
print('Value outside :',mylist)

Value inside : [1, 2, 3, 4, 5]
Value outside : [10, 20, 30]

## Type of arguments

### **Required arguments**


การส่งจำนวนอาร์กิวเมนต์ให้ตรงกับจำนวนพารามิเตอร์ที่ฟังก์ชัน
ประกาศไว้โดยอาร์กิวเมนต์สามารถสลับตำแหน่งกันได้เนื่องจากไพธอนมองทุกอย่างเป็นอ๊อปเจ็กต์ และมีคุณสมบัติการเปลี่ยนชนิดข้อมูลแบบอัตโนมัติ 


---


```
def myfunc(number, mylist):
num = 5; mylist = [1, 2, 3, 4]
myfunc(num, mylist) 
myfunc(mylist, num)
```

In [ ]:
def printme(str):
    print(str)
    return

### **Keyword arguments**

อาร์กิวเมนต์ที่กำหนดผ่านชื่อตัวแปร

In [ ]:
def printme(str):
    print(str)
    return

printme(str = 'My String!')

### **Swapping arguments**

In [ ]:
def printinfo(name, age):
    print("Name :",name)
    print("Age :",age)
    return
printinfo(age = 5, name = 'Phubadine')

Name : Phubadine
Age : 5

### **Defult arguments**

In [ ]:
def printinfo(name, age = 35):
    print("Name :",name)
    print("Age :",age)
    return

printinfo(age = 50, name = 'Python')
printinfo(name='Java')

Name : Python
Age : 50
Name : Java
Age : 35

### **Variable-length arguments**

 อาร์กิวเมนต์ที่สามารถบรรจุข้อมูลไว้ได้แบบไม่จำกัดจำนวน
เพื่อใช้ในกรณีที่ผู้เขียนโปรแกรมไม่ทราบแน่ชัดว่าฟังก์ชันที่เขียนขึ้นจะต้องใช้ข้อมูลในการทำงานกี่ตัว หรืออาจจะมีข้อมูลที่ไม่ได้คาดการณ์ไว้เกิดขึ้นในอนาคต ไพธอนจึงได้เตรียมอาร์กิวเมนต์ชนิดนี้ไว้ให้
ผู้เขียนโปรแกรมเพื่อความยืดหยุ่นในการทำงาน สำหรับรูปแบบอาร์กิวเมนต์แบบ Variable-length
arguments 

---



```
def functionname([formal_args,]*var_args_tuple):
    function_suite
    return [expression]
```

In [ ]:
def printinfo(arg1, *vartuple):
    print('Output of formal arg is :',arg1)
    for var in vartuple:
        print('Output of virtuple arg is :',var)
    return

In [ ]:
printinfo(10)
print()
printinfo(20, 30, 40)

Output of formal arg is : 10

Output of formal arg is : 20
Output of virtuple arg is : 30
Output of virtuple arg is : 40

## Lambda

**Lambda** : ฟังก์ชันที่ไม่ระบุชื่อ หรือ Lambda expression คือ การสร้างฟังก์ชันที่ผู้เขียนโปรแกรม
ไม่ต้องการประกาศชื่อฟังก์ชัน แต่ใช้Keyword "lambda" แทน def ซึ่งถูกใช้ในการ
ประกาศฟังก์ชันแบบปกติโดยมีเงื่อนไขในการสร้าง lambda 

---

1. ฟังก์ชันแบบไม่ระบุชื่อ (Anonymous functions) นี้สามารถกำหนดจำนวนอาร์กิวเมนต์
ให้กับฟังก์ชันกี่ตัวก็ได้ แต่การส่งค่ากลับ (return) จากฟังก์ชันมีได้เพียงค่าเดียวเท่านั้น
2. ฟังก์ชันแบบไม่ระบุชื่อ ไม่สามารถถูกเรียกใช้เพื่อให้แสดงผล (print) ค่าข้อมูลได้ เพราะจะมี
เฉพาะนิพจน์ (Expressions) เท่านั้น
หน้า 165
3. ตัวแปรที่ใช้ในการประมวลผลของฟังก์ชันแบบไม่ระบุชื่อ จะอยู่ภายในขอบเขตพื้นที่ที่ใช้
สำหรับเก็บตัวแปร (namespace) ของตัวเองเท่านั้น และไม่สามารถเรียกข้าม namespace
ได้(แม้ว่าภายในฟังก์ชันจะมีการประกาศตัวแปรแบบ global ไว้ก็ตาม ก็ไม่สามารถเรียกใช้
งานได้)
4. เมื่อมีการประกาศฟังก์ชัน def และ lambda เหมือนกัน ไพธอนจะให้ความสำคัญกับ
lambda มากกว่า



*   **not define function => use variable**
*   **เป็นทางการน้อยกว่า def**
*  **ยากต่อการแก้ไข**


รูปแบบการประกาศฟังก์ชัน
```lamdba [arg1[,arg2,...argn]]: expression```


การเรียกใช้  

---

```
var = lambda arg1, arg2, ..., argn : expression 
print('Test calling lanbda :',var(arg1, arg2, ..., argn))
```

In [ ]:
sum = lambda arg1, arg2 : arg1+arg2;

print('Value of total :', sum(10,20))
print('Value of total :', sum(20,20))

Value of total : 30

### **lambda vs normal function**

In [ ]:
def f(x, y, z): return x + y + z
f = lambda x, y, z: x - y - z

print('Calling normal function :',f(2, 2, 2))
print('Calling lambda function :',f(5, 2, 2))

Calling normal function : -2
Calling lambda function : 1

In [ ]:
f = lambda x, y, z: x - y - z
def f(x, y, z): return x + y + z


print('Calling normal function :',f(2, 2, 2))
print('Calling lambda function :',f(5, 2, 2))

Calling normal function : 6
Calling lambda function : 9

### **Lambda vs defult value**

In [ ]:
mz = (lambda a='A', b='B', c='C': '[' + a + b + c + ']')

print(mz('A'))              #ใช้ [b, c] defult parameters
print(mz('A', 'B'))         #ใช้    [c] defult parameters
print(mz('A', 'B', 'C'))
print(mz('X', 'Y', 'Z'))

[ABC]
[ABC]
[ABC]
[XYZ]

### **Lambda in list**

In [ ]:
L = [lambda x: x**2 , lambda x: x**3, lambda x:x**4]

for f in L:
    print(f(3))
print(L[0](11))  #Use lambda x:x**2

<function <lambda> at 0x7f97a615f280> : 9
<function <lambda> at 0x7f97a61323a0> : 27
<function <lambda> at 0x7f97a6132550> : 81
121

## Return statement

ส่งค่ากลับ 
```return [expression]```

---

* ส่งค่ากลับจากตัวแปร 
```return y = 2.5 * x```

* ส่งค่ากลับจากค่าคงที่
```return y = -1```

* ส่งค่ากลับจากฟังก์ชัน 
```return myfunc(3 ,3)```

* ไม่มีการส่งค่ากลับ
```return ```  or ```return; ```

### **Return**

In [ ]:
def sum(x, y):
    total = x + y
    print('Inside the function :',total)
    return total
total = sum(10, 20)
print('Outside the function :',total)

Inside the function : 30
Outside the function : 30

### **Mini-Calculator**

In [ ]:
def menu():
    print ("Welcome to calculator program")
    print ("your options are:")
    print (" ")
    print ("1) Addition")
    print ("2) Subtraction")
    print ("3) Multiplication")
    print ("4) Division")
    print ("5) Quit calculator program")
    print (" ")
    return int(input("Choose your option: "))

# this adds two numbers given
def add(a, b):
    print("You chose the Addition")
    print ("Result of ",a, "+", b, "=", a + b)
    return a + b

# this subtracts two numbers given
def sub(a, b):
    print("You chose the Subtraction")
    print ("Result of ",a, "-", b, "=", a - b)
    return a - b

# this multiplies two numbers given
def mul(a, b):
    print("You chose the Multiplication")
    print ("Result of ",a, "*", b, "=", a * b)
    return a * b

# this divides two numbers given
def div(a, b):
    print("You chose the Division")
    if b != 0:
        print ("Result of ",a, "/", b, "=", a / b)
        return a / b
    else:
        print("Can't divide by zero")
        return False

def main():
    loop = 1
    choice = 0
    while loop == 1:
        choice = menu()
        if choice == 1:
            add(int(input("Number 1 : ")),int(input("Number2 : ")))
        elif choice == 2:
            sub(int(input("Number 1 : ")),int(input("Number2 : ")))
        elif choice == 3:
            mul(int(input("Number 1 : ")),int(input("Number2 : ")))
        elif choice == 4:
            div(int(input("Number 1 : ")),int(input("Number2 : ")))
        elif choice == 5:
            loop = 0
        else:
            print("Good bye! ")

if __name__ == "__main__":
    main()

### **Returning multiple values**

In [ ]:
import random
def rollDice():
    return (1 + random.randrange(6), 1 + random.randrange(6))

d1, d2 = rollDice()
print(d1,',',d2)
d1, d2 = rollDice()
print(d1,',',d2)
d1, d2 = rollDice()
print(d1,',',d2)

2 , 6
6 , 6
1 , 2

## **Scope of variable**

**Global** 

---

main programe ==> calling always

**Local** 

---

calling in function

In [ ]:
total = 0
def sum(x, y):
    total = x + y
    print('Total of [local inside] function :', total)
    return total
sum(5, 10)
print('Total of [global outside] function :',total)

Total of [local inside] function : 15
Total of [global outside] function : 0

## **Recurion**

**การเรียกตัวเอง หรือ การเวียนเกิด**



```
def name([arg1, ..., argn], n):
    statement(s)
    if condition(n):
        return constant
    else:
        return name([arg1, ..., argn], n-1)
```

### **Exponent (exp)**

In [ ]:
def exp(x, n):
    if n==0:
        return 1
    else:
        return x*exp(x, n-1)
print('Exponent of 2^4 = ',exp(2,4))

Exponent of 2^4 =  16

### **Factorial vs Fibonacci**

In [ ]:
def fac(n):
    if n==1:
        return 1
    else:
        return n * fac(n-1)
 

def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
print('Factorial : ',fac(5))
print('Fibonacci : ',fib(5))

Factorial :  120
Fibonacci :  5

# **Object-Oriented Programming : OOP**

## **Programming Paradigms**

**แนวคิดเกี่ยวกับหลักการเขียนโปรแกรม**

---


* **Function Programming** : การเขียนโปรแกรมเชิงฟังก์ชัน 
* **Imperative Programming** : การเขียนโปรแกรมเชิงคำสั่ง
* **Object-Oriented Programming** : การเขียนโปรแกรมเชิงวัตถุ
* **Logic Programming** : การเขียนโปรแกรมเชิงตรรกะ

## **OOP : Concept**

**Functional/Structure/Procedure programming**

---

จัดเป็นการเขียนโปรแกรมในรูปแบบเก่า มีลักษณะการเขียนโปรแกรม คือ การมองปัญหาหนึ่งๆ
ออกเป็นส่วนย่อยๆ แล้วจึงค่อยแก้ไขไปทีละส่วนจนกว่าจะได้ผลลัพธ์ที่ต้องการ ซึ่งประยุกต์มาจากวิธีคิดของมนุษย์นั่นเอง

**Object** 

---

การมองภาพสิ่งต่าง ๆ เป็นวัตถุเป้าหมาย ภายในวัตถุประกอบด้วยคุณสมบัติของวัตถุ (Properties or Attributes) กับพฤติกรรมหรือการกระทำทราตอบสนองต่อเหตุการณ์ต่าง ๆ (Behaviors)

---

Human
* Properties : ตา หู จมูก ลิ้น ผิวหนัง 
* Behavior : การกิน นอน นั่ง ยืน เดิน

Elephant
* Properties : สมอง ฟัน งา เล็บ งวง
* Behavior : เดิน นอน กิน วิ่ง ลากซุง

Car
* Properties : สีรถ ขนาด รุ่น ประเภท ความเร็ว
* Behavior : เคลื่อนที่ เร่งความเร็ว หยุด เลี้ยว

**Operation** 

---

ตัวดำเนินการ หรือ Medthod เป็นการสั่งงานพฤติกรรมต่าง ๆ ของวัตถุ

**Instance**

---

วัตถุที่ใช้งานจริง ๆ ถูกสร้างขึ้นในคลาสนั้น ๆ 

```object = Classname()```

**Encapsulation/Data hinding**

---

การห่อหุ้มข้อมูล/การซ่อนข้อมูล คือ ***การรวมข้อมูลและฟังก์ชันเข้าไว้ในวัตถุเดียวกัน*** และมีกลไกที่จะอนุญาตหรือไม่อนุญาตให้วัตถุอื่น ๆ เข้าถึงได้

**Polymorphism**

---

**การพ้องรูป** คือ เป็นคุณสมบัติของวัตถุใหม่ที่เกิดจากวัตถุแม่ชนิดเดียวกัน มีความสามารถเหมือนแม่ แต่ผลลัพธ์ไม่เหมือน (มีลักษณะเฉพาะตัว)

## **Creating Class**

```
class Classname:
    'class documentation'
    class_suite
```
* **class documentation** : อธิบายคุณลักษณะของคลาส ```
Classname.__doc__```

* **class_suite** : ส่วนของคำสั่งและคุณสมบัติต่าง ๆ ประกอบด้วย สมาชิกคลาส แอตทริบิวต์และเมธอดต่าง ๆ

### **Class variable** 

---

ตัวแปรที่สามารถใช้งานร่วมกัน (Share) ระหว่างอินสแตนซ์และต่าง
อินสแตนซ์ได้ โดยตัวแปร Class variable จะถูกกำหนดขึ้นภายในคลาสแต่อยู่นอกเมธอดของคลาส

### **Method** 

---

คือฟังก์ชันชนิดหนึ่งที่ถูกสร้างขึ้นภายในคลาส เพื่อใช้ดำเนินการกระทำที่
ตอบสนองต่อเหตุการณ์ต่างๆ ของวัตถุ
```
def cal_area(self, w, h):
    return w * h
```

### **Attributes**

---

ตัวแปร ค่าคงที่ หรือ
Class variable สำหรับเก็บข้อมูลที่มีความสัมพันธ์กับคลาสและวัตถุอยู่ภายในคลาส
```
class Book:
    wide = 50
    high = 100
    def ...
```

**แสดง Attributes**

In [ ]:
class Book:
    # Attributes
    wide = 25
    high = 30
    page = 250
    # Method Instance and Parameters
    def showBook(self, name, isbn):
        self.name = name
        self.isbn = isbn
        return self.name, Book.wide, Book.high, Book.page, self.isbn

b_it = Book()
b_web = Book()

print(b_it.showBook('IT', '123456'))
print(b_web.showBook('WEB', '00000'))

('IT', 25, 30, 250, '123456')
('WEB', 25, 30, 250, '00000')

### **Constructor** 

---

เมธอดหรือฟังก์ชันที่สร้างตัวเองโดยอัตโนมัติเมื่อมีการ
สร้างวัตถุหรืออินสแตนซ์จากคลาส มีเป้าหมายเพื่อเป็นการกำหนดสภาพแวดล้อมก่อนเริ่มต้นการ
ทำงานสำหรับไพธอนมีชื่อเมธอด 
```
def __init__(self, x, y, z):
    self.x = x
    self.y = y
    self.z = z
```

**Build Constructor**

In [ ]:
class Book:
    # Bulid Constructor
    def __init__(self, name, wide, high, page, isbn, price):
        # Bulid Attributes
        print('Build Constructor!')
        self.name = name
        self.wide = wide
        self.high = high
        self.page = page
        self.isbn = isbn
        self.price = price
    def showBook(self):
        return self.name, self.wide, self.high, self.page, self.isbn, self.price

# Build Instance
b_IT = Book('Python', 25, 30, 350, '123-123', 300)
print(b_IT.showBook())

b_IT.price = 199
print(b_IT.showBook())

('Python', 25, 30, 350, '123-123', 300)
('Python', 25, 30, 350, '123-123', 199)

### **Inheritance**

---

**การสืบทอด** คือ คลาสแม่หรือคลาสหลัก (Super Class) สามารถสืบทอดไปยังคลาสลูก (Sub Class) จะเหมือนคลาสแม่ และเพิ่มคุณสมบัติใหม่เข้าไปได้



```
class Superclass:
    Statement(s)
class Subclass(Superclass):
    Statement(s)
```

In [ ]:
class Book:
    def __init__(self, name, size, page, price):
        self.name = name
        self.size = size
        self.page = page
        self.price = price
    def showBook(self):
        return self.name, self.size, self.page, self.price

class Book_IT(Book):      #Subclass from Class Book
    pass

book = Book('Python', '25 x 30', 253, 200)
book_it = Book_IT('Information', '50 x 15', 110, 150)

print(book.showBook())
print(book_it.showBook())

('Python', '25 x 30', 253, 200)
('Information', '50 x 15', 110, 150)

### **Ex 1 : CAR**

In [ ]:
class Car:
    'Basic class'
    # attributes
    color = 'No brand yet'
    brand = 'No brand yet'
    number_of_seats = 4
    number_of_wheels = 4
    maxSpeed = 0
    registration_number = 0

    def __init__(self, color, brand, number_of_seats, number_of_wheels, maxSpeed):
        self.color = color
        self.brand = brand
        self.number_of_seats = number_of_seats
        self.number_of_wheels = number_of_wheels
        self.maxSpeed = maxSpeed
        Car.registration_number += 1

    def setColor(self, x):
        self.color = x

    def setBrand(self, x):
        self.brand = x
    
    def setNumberOfSeats(self, x):
        self.number_of_seats = x

    def setNumberOfWheels(self, x):
        self.number_of_wheels = x

    def setMaxSpeed(self, x):
        self.maxSpeed = x

    def printData(self):
        print("The color of this car is :", self.color)
        print("The car was manufactured by :", self.brand)
        print("The number of seats is :",self.number_of_seats, "seats.")
        print("The number of wheels is :",self.number_of_wheels, "wheels.")
        print("The maximum speed is :", self.maxSpeed,"km/h.")
        print("The registration number is :",self.registration_number)

In [ ]:
print(Car.__doc__)

Basic class

In [ ]:
# Creating instance and use it
car1 = Car('red','Toyota',4,4,150)
car1.setBrand('Benz')
car1.printData()

print()

car1.color = 'Blue'
car1.setMaxSpeed(400)
car1.printData()

print()

car2 = Car('Yellow','Honda',4,4,170)
car2.printData()

The color of this car is : red
The car was manufactured by : Benz
The number of seats is : 4 seats.
The number of wheels is : 4 wheels.
The maximum speed is : 150 km/h.
The registration number is : 1

The color of this car is : Blue
The car was manufactured by : Benz
The number of seats is : 4 seats.
The number of wheels is : 4 wheels.
The maximum speed is : 400 km/h.
The registration number is : 1

The color of this car is : Yellow
The car was manufactured by : Honda
The number of seats is : 4 seats.
The number of wheels is : 4 wheels.
The maximum speed is : 170 km/h.
The registration number is : 2

### **EX 2 : School**

In [ ]:
class School:
    # Attribute
    schoolName = 'Uncle Engineer'

    # Constructor (Auto run)
    def __init__(self, subject, type):
        # print('!!!Build Instance Success!!!')
        self.subject = subject
        self.type = type

    # Method
    def hello(self):
        print('Good Morning!')
        return

    def teach(self):
        print(f'Open subject : {self.subject}')


class Student(School):
    def __init__(self, fullname, level, score, subject, type):
        super().__init__(subject, type)
        self.fullname = fullname
        self.level = level
        self.score = score

    def checkGrade(self):
        grade = 'AAABCDFFFF'
        index = self.score//10
        grade_end = grade[-index]
        print(f'Grade [{self.subject}] :', grade_end)
        # return grade_end


# Instance
# school = School('Java', 60)
# print('school name :', school.schoolName)
# print('school name :', school.type)
# school.hello()
# school.teach()
print('===================================')

student01 = Student('Iron man', 5, 55, 'Python', '0')
student01.hello()
print(student01.schoolName)        # Calling Method from School Class
print('Full name :', student01.fullname)
print('Level :', student01.level)
print('Score :', student01.score)
student01.checkGrade()

print('===================================')

student02 = Student('Spider man', 6, 84, 'C#', '1')
print(student01.schoolName)        # Calling Method from School Class
print('Full name :', student02.fullname)
print('Level :', student02.level)
print('Score :', student02.score)
student02.checkGrade()

print('===================================')

student03 = Student('Hulk', 7, 49, 'Java', '2')
print(student01.schoolName)        # Calling Method from School Class
print('Full name :', student03.fullname)
print('Level :', student03.level)
print('Score :', student03.score)
student03.checkGrade()

print('===================================')

===================================
Good Morning!
Uncle Engineer
Full name : Iron man
Level : 5
Score : 55
Grade [Python] : D
===================================
Uncle Engineer
Full name : Spider man
Level : 6
Score : 84
Grade [C#] : A
===================================
Uncle Engineer
Full name : Hulk
Level : 7
Score : 49
Grade [Java] : F
===================================

In [ ]:
class Employee:
    'To declear super class Employee for all employee'
    empCount = 0
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1

    def displayCount(self):
        print('Total Employee =', Employee.empCount)
    
    def displayEmployee(self):
        print('Name :',self.name,', Salary : ', self.salary)

employee1 = Employee('John', 25_000)
employee2 = Employee('Lisa', 20_000)
employee1.displayEmployee()
employee2.displayEmployee()

employee1.displayCount() 

employee1.empCount = 5        ### No damage
employee1.salary = 30_000
employee2.salary = 28_000

employee1.displayEmployee()
employee2.displayEmployee()

employee2.displayCount() 
           
Employee.empCount = 5     ### damage !

employee1.displayCount()

Name : John , Salary :  25000
Name : Lisa , Salary :  20000
Total Employee = 2
Name : John , Salary :  30000
Name : Lisa , Salary :  28000
Total Employee = 2
Total Employee = 5

## Accesing attributes and methods

Normal accesing **Attribute** ==> 
```Instance of Object.attribute```

Normal accesing **Method** ==>
```Instance of Object.method()```

---

Accesing **Attribute [Class variable type]** ==>
```Class.class_variable```

* Python access (add edit delete) attribute is not build before , Can add after build Instance

In [ ]:
car1.fuel = 'binzine'
employee1.age = 35

ไม่แนะนำ ถ้าไม่จำเป็น

In [ ]:
del car1.fuel 
del employee1.age